[Service]
Type=oneshot
WorkingDirectory=${INSTALL_PATH}
User=root
Group=root
RemainAfterExit=yes
ExecStart=/usr/bin/java -Dlog4j.configurationFile=./log4j2.xml -jar DOI-server.jar -f ./config.properties --start
ExecStop=/usr/bin/java -Dlog4j.configurationFile=./log4j2.xml -jar DOI-server.jar -f ./config.properties --stop

