body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}	

h1,h2 {
	color:#005191
}

.hide{
  display:none;  
}

.footer {
    width: 100%;
}

#footer_left {
  position: absolute;
  left: 10px;
}

#footer_right {
  position: absolute;
  right: 10px;
}
