<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
   
	<Appenders>

    <Syslog name="syslog" format="RFC5424" host="localhost" port="514"
            protocol="UDP" appName="DOI-SERVER" includeMDC="false" mdcId="doiserver"
            facility="LOCAL0" enterpriseNumber="18060" newLine="false" 
	    messageId="Audit">
            <LoggerFields>
                  <KeyValuePair key="thread" value="%t"/>
                  <KeyValuePair key="priority" value="%p"/>
		  <KeyValuePair key="category" value="%c"/>
		  <KeyValuePair key="message" value="%m"/>
                  <KeyValuePair key="exception" value="%ex"/>
	    </LoggerFields>
                        
    </Syslog>

    <Socket name="syslogsocket" host="localhost" port="514" protocol="UDP">
          <PatternLayout
        pattern="&lt;134&gt;%d{MMM dd HH:mm:ss} ${hostName} testlog4j: {
              &quot;thread&quot;:&quot;%t&quot;,
              &quot;priority&quot;:&quot;%p&quot;,
              &quot;category&quot;:&quot;%c{1}&quot;,
              &quot;exception&quot;:&quot;%exception&quot;
              }%n"
          />
    </Socket>      

        <File name="PERFO" fileName="perfo.log" append="true">     
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>   
        </File>
        <File name="FILE" fileName="logfile.log" append="true">
            <PatternLayout pattern="%-5level %d{yyyy-MM-dd HH:mm:ss} %C{2} (%F:%L) - %m%n"/>
        </File>
        <File name="API" fileName="api.log" append="true">                
            <PatternLayout pattern="[%-5p - %t] %d %c - %m%n"/>
        </File>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d [%t] %-5level}: %msg%n%throwable"/><!--%highlight{%d [%t] %-5level}: %msg%n%throwable-->
        </Console>
        <Console name="SHELL" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>        
    </Appenders>

    <Loggers>
     
        <Logger name="fr.cnes.doi.logging.app" level="INFO">
            <AppenderRef ref="PERFO"/>                        
        </Logger>        
        <Logger name="fr.cnes.doi.logging.api" level="INFO">
            <AppenderRef ref="API"/>                        
        </Logger>
        <Logger name="fr.cnes.doi.application" level="INFO">
            <AppenderRef ref="FILE"/>            
        </Logger>      
        <Logger name="fr.cnes.doi.logging.shell" level="INFO">
             <AppenderRef ref="FILE"/>
        </Logger>  
	<Logger name="fr.cnes.doi.server" level="INFO">
             <AppenderRef ref="syslogsocket"/>
             <AppenderRef ref="SHELL"/>
        </Logger>                    
	<Root level="INFO">
	    <AppenderRef ref="syslog"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>
<!-- https://fabianlee.org/2016/10/17/syslog-sending-java-log4j2-to-rsyslog-on-ubuntu/ -->
<!-- java -Dlog4j.configurationFile=./log4j2.xml -jar DOI-0.0.1-SNAPSHOT.jar -->
